.aText {
  font-family: sans-serif;
  font-size: 18px;
  text-anchor: middle;
  color:rgb(8, 64, 187);
}

.active {
  font-weight: bold;
  font-size: 20px;
  fill: rgb(6, 70, 122);
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: bold;
  font-size: 18px;
  fill: #0b6474;
  opacity: 0.75;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: rgb(27, 231, 231);
  cursor: pointer;
}

.stateText {
  font-family: sans-serif;
  font-size: 6;
  fill: #fff;
  text-anchor: middle;
}

.stateCircle {
  fill: #1a83af;
  stroke: #04215f;
}

.scatter {
  display: inline-block;
  position: relative;
  margin: 0;
}

.d3-tip {
  padding: 6px;
  font-size: 14px;
  line-height: 1;
  line-height: 1.5em;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(18, 161, 172, 0.8);
  border-radius: 4px;
  stroke:rgb(32, 94, 4);
}

/* Mobile Rules */
@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }
  .aText {
    font-size: 14px;
  }
  .container {   
    flex-direction: column;
  }
  .row {   
    flex-direction: column;
  }
  .scatter {   
    flex-direction: column;
  }  
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
